<body>
<p id="notice"><%= notice %></p>
 <%= render "friendships/new" , locals:{friendship:@friendship} %> 
  <div class="card-columns text-center m-2">     
      <% for friendship in current_user.friendships %>
       <div class="card" style="width:150px">
            <div class="card-body">
                <h4 class="card-title h6"><%= friendship.friend.username %></h4>
                <p class="card-text">
              <%= link_to 'Unfriend', friendship, method: :delete ,class: "btn btn-danger controllers",data: { confirm: 'Are you sure?' } %>

                </p>
            </div>
            
        </div>      
    <% end %>
  </div>



